# Project 1 : Mercedes-Benz Greener Manufacturing

In [1]:
# Project Desciption - Reduce the time a Mercedes-Benz spends on the test bench.

In [2]:
# Importing required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Read training Mercedes Benz data
benz_train_df = pd.read_csv("train.csv")
benz_test = pd.read_csv("test.csv")

In [4]:
benz_train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
benz_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
# Check number of columns and rows
print("Shape of training data", benz_train_df.shape)
print("Shape of test data", benz_test.shape)

Shape of training data (4209, 378)
Shape of test data (4209, 377)

In [7]:
# Check data types
benz_train_df.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [8]:
# Removing ID column as it has no relation to target
benz_train_df.drop(['ID'], axis=1, inplace=True)
benz_test.drop(['ID'], axis=1, inplace=True)

In [9]:
# Removing duplicates
benz_train_df.duplicated().sum()

1

In [10]:
benz_train_df.drop_duplicates(inplace=True)

In [11]:
benz_train_df.shape

(4208, 377)

In [12]:
# Identifying column 'y' as target and dropping from train ds
target = benz_train_df['y']
print(target.describe(), "\n Shape: ", target.shape)

count    4208.000000
mean      100.669427
std        12.680886
min        72.110000
25%        90.817500
50%        99.150000
75%       109.012500
max       265.320000
Name: y, dtype: float64
 Shape:  (4208,)

In [13]:
# Removing target column from train ds
benz_train_df.drop(['y'], axis=1, inplace=True)
benz_train_df.head(2)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,k,v,at,a,d,u,j,o,0,0,...,0,0,1,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,o,0,0,...,1,0,0,0,0,0,0,0,0,0

In [14]:
for col in benz_train_df.columns:
    
    # Checking the unique values in Training and test data set
    train_unique =benz_train_df[col].nunique()
    test_unique = benz_test[col].nunique()
    print("Train dataset - Number: {} \t & Unique values in Column {} :: ".format(train_unique, col), benz_train_df[col].unique())
    print("Test dataset - Number: {} \t & Unique values in Column {} :: ".format(test_unique, col), benz_test[col].unique())
    
    # Removing test data values which are not present in training data
    if (benz_test[col].dtype == 'object'):
        for val in benz_test[col].values:
            if(val not in benz_train_df[col].values):
                benz_test.drop(benz_test[benz_test[col] == val].index, inplace=True)

Train dataset - Number: 47 	 & Unique values in Column X0 ::  ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
Test dataset - Number: 49 	 & Unique values in Column X0 ::  ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
Train dataset - Number: 27 	 & Unique values in Column X1 ::  ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
Test dataset - Number: 27 	 & Unique values in Column X1 ::  ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
Train dataset - Number: 44 	 & Unique values in Column X2 ::  ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
Test dataset - Number: 44 	 & Unique values in Column X2 ::  ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'af' 'ac' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'u']
Train dataset - Number: 7 	 & Unique values in Column X3 ::  ['a' 'e' 'c' 'f' 'd' 'b' 'g']
Test dataset - Number: 7 	 & Unique values in Column X3 ::  ['f' 'a' 'c' 'e' 'd' 'g' 'b']
Train dataset - Number: 4 	 & Unique values in Column X4 ::  ['d' 'b' 'c' 'a']
Test dataset - Number: 4 	 & Unique values in Column X4 ::  ['d' 'b' 'a' 'c']
Train dataset - Number: 29 	 & Unique values in Column X5 ::  ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
Test dataset - Number: 32 	 & Unique values in Column X5 ::  ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
Train dataset - Number: 12 	 & Unique values in Column X6 ::  ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
Test dataset - Number: 12 	 & Unique values in Column X6 ::  ['i' 'g' 'd' 'j' 'f' 'l' 'h' 'a' 'c' 'k' 'e' 'b']
Train dataset - Number: 25 	 & Unique values in Column X8 ::  ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
Test dataset - Number: 25 	 & Unique values in Column X8 ::  ['m' 's' 'y' 'a' 'n' 'v' 'r' 'o' 'j' 't' 'h' 'c' 'k' 'w' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']
Train dataset - Number: 2 	 & Unique values in Column X10 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X10 ::  [0 1]
Train dataset - Number: 1 	 & Unique values in Column X11 ::  [0]
Test dataset - Number: 2 	 & Unique values in Column X11 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X12 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X12 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X13 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X13 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X14 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X14 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X15 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X15 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X16 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X16 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X17 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X17 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X18 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X18 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X19 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X19 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X20 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X20 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X21 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X21 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X22 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X22 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X23 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X23 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X24 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X24 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X26 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X26 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X27 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X27 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X28 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X28 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X29 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X29 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X30 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X30 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X31 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X31 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X32 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X32 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X33 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X33 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X34 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X34 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X35 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X35 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X36 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X36 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X37 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X37 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X38 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X38 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X39 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X39 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X40 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X40 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X41 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X41 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X42 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X42 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X43 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X43 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X44 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X44 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X45 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X45 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X46 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X46 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X47 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X47 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X48 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X48 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X49 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X49 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X50 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X50 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X51 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X51 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X52 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X52 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X53 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X53 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X54 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X54 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X55 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X55 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X56 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X56 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X57 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X57 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X58 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X58 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X59 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X59 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X60 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X60 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X61 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X61 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X62 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X62 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X63 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X63 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X64 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X64 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X65 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X65 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X66 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X66 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X67 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X67 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X68 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X68 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X69 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X69 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X70 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X70 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X71 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X71 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X73 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X73 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X74 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X74 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X75 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X75 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X76 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X76 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X77 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X77 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X78 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X78 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X79 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X79 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X80 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X80 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X81 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X81 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X82 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X82 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X83 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X83 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X84 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X84 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X85 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X85 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X86 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X86 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X87 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X87 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X88 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X88 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X89 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X89 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X90 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X90 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X91 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X91 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X92 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X92 ::  [0 1]
Train dataset - Number: 1 	 & Unique values in Column X93 ::  [0]
Test dataset - Number: 2 	 & Unique values in Column X93 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X94 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X94 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X95 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X95 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X96 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X96 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X97 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X97 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X98 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X98 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X99 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X99 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X100 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X100 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X101 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X101 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X102 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X102 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X103 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X103 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X104 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X104 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X105 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X105 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X106 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X106 ::  [1 0]
Train dataset - Number: 1 	 & Unique values in Column X107 ::  [0]
Test dataset - Number: 1 	 & Unique values in Column X107 ::  [0]
Train dataset - Number: 2 	 & Unique values in Column X108 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X108 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X109 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X109 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X110 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X110 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X111 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X111 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X112 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X112 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X113 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X113 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X114 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X114 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X115 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X115 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X116 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X116 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X117 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X117 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X118 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X118 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X119 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X119 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X120 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X120 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X122 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X122 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X123 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X123 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X124 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X124 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X125 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X125 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X126 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X126 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X127 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X127 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X128 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X128 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X129 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X129 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X130 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X130 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X131 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X131 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X132 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X132 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X133 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X133 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X134 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X134 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X135 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X135 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X136 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X136 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X137 ::  [1 0]
Test dataset - Number: 2 	 & Unique values in Column X137 ::  [1 0]
Train dataset - Number: 2 	 & Unique values in Column X138 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X138 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X139 ::  [0 1]
Test dataset - Number: 2 	 & Unique values in Column X139 ::  [0 1]
Train dataset - Number: 2 	 & Unique values in Column X140 ::  [0 1]

# * Check for null and unique values for test and train sets.

In [15]:
benz_train_df.isnull().sum().sum()
# No Null values in training dataset

0

In [16]:
benz_train_df.isna().sum().sum()
# No NA values in training dataset

0

In [17]:
# Checking unique values in training dataset
benz_train_df.nunique()

X0      47
X1      27
X2      44
X3       7
X4       4
        ..
X380     2
X382     2
X383     2
X384     2
X385     2
Length: 376, dtype: int64

In [18]:
benz_test.isnull().sum().sum()
# No Null values in test dataset

0

In [19]:
benz_test.isna().sum().sum()
# No missing values in test dataset

0

In [20]:
# Checking unique values in test dataset
benz_test.nunique()

X0      43
X1      27
X2      38
X3       7
X4       4
        ..
X380     2
X382     2
X383     2
X384     2
X385     2
Length: 376, dtype: int64

# * Apply label encoder.

# * If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [21]:
# transform categorical columns into integer values 
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in benz_train_df.columns :
    if(benz_train_df[col].dtype == 'object') :
            benz_train_df[col] = le.fit_transform(benz_train_df[col])
            benz_test[col] = le.transform(benz_test[col])
            
# Find variance of each column
    if (benz_train_df[col].var() == 0):
        print("Dropping column: {}".format(col))
        # If there is only 1 unique value in a column - that means there is no variance - dropping these columns
        benz_train_df.drop(col, axis=1, inplace=True)
        benz_test.drop(col, axis=1, inplace=True)

Dropping column: X11
Dropping column: X93
Dropping column: X107
Dropping column: X233
Dropping column: X235
Dropping column: X268
Dropping column: X289
Dropping column: X290
Dropping column: X293
Dropping column: X297
Dropping column: X330
Dropping column: X347

In [22]:
benz_train_df.shape

(4208, 364)

# * Perform dimensionality reduction.

In [23]:
# Checking correlation of data
correlation = benz_train_df.corr()
correlation.to_csv("corr.csv")

In [24]:
# Reduce dimensions using PCA
from sklearn.decomposition import PCA

In [25]:
benz_train_df.shape

(4208, 364)

In [26]:
pca = PCA(n_components=0.95)

In [27]:
benz_train_df_transformed = pca.fit_transform(benz_train_df)

In [28]:
benz_train_df_transformed.shape

(4208, 6)

In [29]:
benz_train_df_transformed

array([[  0.61378881,  -0.14446379,  15.63380899,   3.66222721,
          1.3505408 ,  -2.69748052],
       [  0.56139962,   1.54432518,  17.9141994 ,  -0.12197454,
          1.52518165,  -4.44706696],
       [ 16.1910827 ,  12.2928495 ,  17.66325302,   0.14884861,
         11.83439624,  -2.16300672],
       ...,
       [ 29.00096391,  14.89848975,  -7.70878704,  11.22863734,
         -5.84777304,   0.7835419 ],
       [ 22.98022822,   1.72139678,  -8.99883425,   9.75698031,
          9.45432249,  -4.35269093],
       [-17.2666302 ,  -9.9489709 ,  -3.7011011 ,  18.35051562,
          8.41312791,   0.51459976]])

In [30]:
benz_test_transformed = pca.transform(benz_test)

In [31]:
benz_test_transformed.shape

(4185, 6)

In [32]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/site-packages (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/site-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/site-packages (from xgboost) (1.21.5)
WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.

# * Predict your test_df values using XGBoost.

In [33]:
import xgboost

In [34]:
xgb_clf = xgboost.XGBClassifier()

In [35]:
xgb_clf.fit(benz_train_df_transformed, target)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [36]:
y_xgb = xgb_clf.predict(benz_test_transformed)

In [37]:
y_xgb

array([108.71,  86.77,  90.85, ...,  87.78, 107.39,  88.02])

In [43]:
y_xgb.mean()

100.12134528076463

In [45]:
np.amin(y_xgb)

72.11

In [46]:
np.amax(y_xgb)

169.91